.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;
    .top {
      padding: 20px;
      display: flex;
      gap: 20px;
      .left,
      .right {
        border-radius: 10px;
      }
      .left {
        flex: 1;
        -webkit-box-shadow: -1px 2px 11px 0px #000000;
        box-shadow: -1px 2px 11px 0px #000000;
        padding: 20px;
        position: relative;

        .editButton {
          position: absolute;
          right: 0;
          top: 0;
          padding: 5px;
          font-size: 13px;
          color: #1e104e;
          background-color: #1e104e1a;
          border-radius: 10px;
          cursor: pointer;
        }
        .item {
          display: flex;
          gap: 20p;
          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
          .details {
            margin-left: 15px;
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }
            .detailItem {
              margin-bottom: 10px;
              font-size: 14px;
              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 7px;
              }
              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }
      .right {
        flex: 2;
      }
    }
    .bottom{
      padding: 20px;
      
    }
  }
  .title {
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(199, 199, 199);
  }
}
